.Footer {
    width: 100%;
    height: 5vh;
    background: #2FC446;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
  }
  
  .footer-icon.active::before {
    content: '';
    display: block;
    width: 100%; /* Full width of the text */
    height: 2px; /* Thickness of the underline */
    background: white; /* Color of the underline */
    position: absolute;
    top: 0; /* Position above the icon */
    transform: translateY(-100%); /* Move it above the icon */
  }
  
  .Footer p {
    margin: 0;
    color: white;
  }
  
  .footer-icons {
    display: none; /* Hide icons by default */
  }
  
  .footer-icon {
    position: relative; /* Required for positioning the pseudo-element */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none; /* Remove underline from links */
  }
  
  .footer-icon span {
    font-size: small;
    margin-top: 6px;
    color: white; /* Ensure text color is white */
  }
  
  @media (max-width: 768px) {
    .Footer {
      height: 8vh;
    }
    .Footer p {
      display: none; /* Hide the text on small screens */
    }
    .footer-icons {
      display: flex; /* Show icons on small screens */
      justify-content: center;
      align-items: center;
      gap: 65px; /* Space between icons */
      color: white;
    }
    .footer-icons svg {
      font-size: 180%;
    }
    .footer-icons span {
      margin-top: -2px;
      font-weight: bold;
    }
    .footer-icon span {
        font-size: small;
        margin-top: 2px;
        color: white; /* Ensure text color is white */
      }
  }
  