.Info {
    height: 87vh; /* Adjust height to account for Navbar (8vh) and Footer (5vh) */
    width: 100%;
    position: relative;
    z-index: 9;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start; /* Changed to flex-start to leave space for the GIF at the bottom */
    align-items: center;
    overflow: auto;
    background-color: beige;
  }


  @media (max-width: 768px) {
    .Info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: beige;
    }

    .Info .click {
        width: 200px;
        height: 100px;
        font-size: xx-large;
    }
  }