.Landing {
  height: 87vh; /* Adjust height to account for Navbar (8vh) and Footer (5vh) */
  width: 100%;
  position: relative;
  z-index: 9;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start; /* Changed to flex-start to leave space for the GIF at the bottom */
  align-items: center;
  overflow: auto;
  background-color: beige;
}

.Landing .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 2;
}

.Landing .header h1 {
  color: #2FC446;
}

.Landing .header svg {
  color: #2FC446;
  font-size: xx-large;
  margin-right: 10px;
}

.Landing .landing-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Landing .landing-gif {
  position: absolute; /* Position the GIF absolutely */
  bottom: 10px; /* Adjust the bottom position as needed */
  left: 50%;
  transform: translateX(-50%); /* Center the GIF horizontally */
  width: 50px; /* Set the desired width */
  height: 50px; /* Set the desired height */
}

@media (max-width: 768px) {
  .Landing {
    background-image: url('C:/Users/royna/Lituf/Dev/client/lituf/src/assets/puppy.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  }

  .Landing .landing-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .Landing .landing-title .second {
    margin: 0;
    color: #42f85d;
    font-size: xxx-large;
  }

  .Landing .landing-title .first {
    margin-bottom: -15px;
    color: white;
    font-weight: 500;
    font-size: 40px;
  }

  .Landing .landing-gif {
    bottom: 300px; /* Adjust the bottom position for mobile as needed */
    width: 300px; /* Adjust the size for mobile as needed */
    height: 0px; /* Adjust the size for mobile as needed */
  }
}
